{{- if (.Param "comments") }}
<div class="comments">
  <script src="https://giscus.app/client.js"
    data-repo="biz-agentic-ai/biz-agentic-ai.github.io"
    data-repo-id="R_kgDOPhm8OQ"
    data-category="General"
    data-category-id="DIC_kwDOPhm8Oc4C2uES"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="ko"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{- end }}
