{{- $currentDir := replace .File.Dir "\\" "/" -}}
{{- $seriesPages := slice -}}
{{- range site.RegularPages -}}
  {{- if eq (replace .File.Dir "\\" "/") $currentDir -}}
    {{- $seriesPages = $seriesPages | append . -}}
  {{- end -}}
{{- end -}}
{{- $seriesPages = sort $seriesPages "Date" "asc" -}}
{{- $currentIdx := -1 -}}
{{- range $i, $p := $seriesPages -}}
  {{- if eq $p.Permalink $.Permalink -}}
    {{- $currentIdx = $i -}}
  {{- end -}}
{{- end -}}
{{- if ge $currentIdx 0 -}}
{{- $hasPrev := gt $currentIdx 0 -}}
{{- $hasNext := lt $currentIdx (sub (len $seriesPages) 1) -}}
{{- if or $hasPrev $hasNext -}}
<nav class="paginav">
  {{- if $hasPrev -}}
  {{- $prevPage := index $seriesPages (sub $currentIdx 1) -}}
  <a class="prev" href="{{ $prevPage.Permalink }}">
    <span class="title">« {{ i18n "prev_page" }}</span>
    <br>
    <span>{{- $prevPage.Name -}}</span>
  </a>
  {{- end -}}
  {{- if $hasNext -}}
  {{- $nextPage := index $seriesPages (add $currentIdx 1) -}}
  <a class="next" href="{{ $nextPage.Permalink }}">
    <span class="title">{{ i18n "next_page" }} »</span>
    <br>
    <span>{{- $nextPage.Name -}}</span>
  </a>
  {{- end -}}
</nav>
{{- end -}}
{{- end -}}
